<nav class="navbar navbar-default navbar-container navbar-header stay-put">
  <button class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button">
    <span class="sr-only">Toggle Navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="navbar-brand">
    <%= link_to "Foodgram", root_path%>
  </div>
  <div>
    <% if current_user %>
    Signed in as <%= current_user.name %> | <%= link_to 'Logout', '/logout'  %>
    <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup'  %>
    <% end %>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li>
    	<% if current_user %>
      <i><%= link_to "", new_post_path, class:"fa fa-plus-square-o fa-3x" %></i>
      <% end %>
    </li>
  </ul>
</nav>
